body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 2rem 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.brand-logo {
  padding: 0 15px !important;
}

.post-list {
  font-size: 1.2em;
}

/* Posts */

.post-title {
  margin: 2.1rem 0 1.68rem;
}
.post-content {
  margin-bottom: 30px;
}

/* Footer */

footer {
  display: block;
  text-align: center;
  margin-top: 3rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  color: #555;
}

/* Misc */

.notice-warning {
  background-color: #e91e63;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  left: 0;
  padding: 7px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
